<h1><%= @product.name %></h1>
<p><%= @product.formatted_price %></p>
<p><%= @product.description %></p>
<p>Created by <%= @product.user.name %></p>

<% if session[:user_id] == @product.user_id %>
<p><%= link_to "Edit product", edit_product_path(@product) %></p>
<% end %>

<% if current_user %>
  <h3>Reviews</h3>
  <div id="review-list">
    <%= render :partial => "reviews" %>
  </div>


  <h4>Give your own review!</h4>
  <%= form_for([@product, @review]) do |f| %>

    <div id="review-form-errors">
    </div>

    <div id="text-field">
      <%= f.text_area :comment %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<% else %>
  <p>Please <%= link_to 'log in', new_session_path %> to add a review or edit this product.</p>
<% end %>

<script type="text/javascript">
  $(function() {
    $('#new_review')
      .on('ajax:beforeSend', function() {
        $("input[type='submit']").val("Saving...").attr("disabled", "disabled");
      })
      .on('ajax:complete', function() {
        $("input[type='submit']").val("Create Review").removeAttr('disabled');
      });
  });
</script>